@import url('https://fonts.googleapis.com/css?family=Fenix');

.layer {
	background-color: rgba(0, 0, 0, 0.5);
}

mark, .mark {
    background-color: $orange !important;
    color: #ffffff !important;
    padding: 0 !important;
}

.col-md-4.blog {
    padding: 1em;
}

.blog-inner {
    border: 1px solid #ff8c42;
    padding: 2em;
    border-radius: .25rem;
}

.page-item.active .page-link {
    background-color: #d6efff !important;
    border-color: #d6efff !important;
}
.page-link{
	color: #215a96 !important;
}

@media (max-width:767px) {
	footer {
		text-align: center !important;
	}
}